# GitHub Pages
_site
.sass-cache
.jekyll-metadata

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
*.code-workspace

# Project specific
gui/data/
gui/bin/
bin/labca-gui
debian/.debhelper/
debian/files
debian/labca-gui.substvars
debian/labca-gui/
build/tmp/
