{{ define "body" }}
{{with .List}}
        <h3>{{ .Title }}</h3>

        <table class="table table-striped table-bordered table-hover datatable {{ .TableClass }}">
            <thead>
                <tr>
                    {{ range .Header }}
                    <th>{{ . }}</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
                {{ range .Rows }}
                <tr>
                {{ range . }}
                    <td>{{ . }}</td>
                {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
{{end}}
{{end}}

{{ define "head" }}
    <link rel="stylesheet" href="static/css/dataTables.responsive.css">
{{ end }}

{{ define "tail" }}
    <script src="static/js/jquery.dataTables.min.js"></script>
    <script src="static/js/dataTables.bootstrap.min.js"></script>
    <script src="static/js/dataTables.responsive.js"></script>
{{ end }}
