{{ define "body" }}
</div>
<div class="col-md-6 col-sm-12">
    <h3>Restart</h3>
    <p id="pre-restart-1">
      Please install the root certificate in the <b>Trusted Root Certification Authorities</b> store of your client machine now.<br/>
      <a href="../certs/root-ca.der">Windows (.der) format</a>&nbsp;|&nbsp;<a href="../certs/root-ca.pem">Linux (.pem) format</a>
    </p>
    <p id="pre-restart-2">Then, <a class="button active" id="restart-button" href="javascript:void();">restart LabCA</a></p>
    <p id="restarting" class="hidden">Please wait while the application is restarted...<br/>
    <img id="restart-spinner" src="static/img/spinner.gif" height="36"></p>
{{ template "partials/progress.tmpl" . }}
{{end}}
