<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#revokeModal">Revoke</button>

<div class="modal fade" id="revokeModal" tabindex="-1" role="dialog" aria-labelledby="revokeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="revokeModalLabel">Revoke Certificate</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="revoke-serial" name="serial" value="{{ .Serial }}"></input>
        Pick a reason for revoking this certificate:<br/>
        <select class="form-control" id="revoke-reason">
          <option name="" value=""></option>
          <option name="Unspecified" value="unspecified">Unspecified</option>
          <option name="Key Compromise" value="keyCompromise">Key Compromise</option>
          <option name="Superseded" value="superseded">Superseded</option>
          <option name="Cessation Of Operation" value="cessationOfOperation">Cessation Of Operation</option>
          <option name="Privilege Withdrawn" value="privilegeWithdrawn">Privilege Withdrawn</option>
        </select><br/>
        NOTE that revoking a certificate can NOT be reversed!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="cert-revoke-btn">Revoke</button>
      </div>
    </div>
  </div>
</div>
