{{ define "body" }}
</div>
<div class="col-md-6 col-sm-12">
    <h3>Basic configuration</h3>

{{with .SetupConfig}}
<form role="form" action="{{ .RequestBase }}/setup" method="POST">
  <div class="form-group">
    <label for="fqdn">FQDN for the PKI host:</label>
    <input class="form-control non-fluid" type="text" id="fqdn" name="fqdn" value="{{ .Fqdn }}" required readonly>
    {{ with .Errors.Fqdn }}
    <span class="error">{{ . }}</span>
    {{ end }}
  </div>
  <div class="form-group">
    <label for="dns">Internal DNS server to use:</label>
    <input class="form-control non-fluid" type="text" id="dns" name="dns" value="{{ .DNS }}" required>
    {{ with .Errors.DNS }}
    <span class="error">{{ . }}</span>
    {{ end }}
  </div>

  <div class="form-group">
    <label>Domain mode:</label><br/>
    {{ with .Errors.DomainMode }}
    <span class="error">{{ . }}</span><br/>
    {{ end }}
    <input type="radio" id="lockdown" name="domain_mode" value="lockdown" {{ if eq .DomainMode "lockdown"}}checked{{ end }}/> Lockdown to only these domains (one per line):<br/>
    <textarea class="form-control non-fluid" rows="3" cols="24" id="lockdown_domains" name="lockdown_domains">{{ .LockdownDomains }}</textarea><br/>
    {{ with .Errors.LockdownDomains }}
    <span class="error">{{ . }}</span><br/>
    {{ end }}

    <input type="radio" id="whitelist" name="domain_mode" value="whitelist" {{ if eq .DomainMode "whitelist"}}checked{{ end }}/> Next to all official domains, also allow these domains (whitelist; one per line):<br/>
    <textarea class="form-control non-fluid" rows="3" cols="24" id="whitelist_domains" name="whitelist_domains">{{ .WhitelistDomains }}</textarea><br/>
    {{ with .Errors.WhitelistDomains }}
    <span class="error">{{ . }}</span><br/>
    {{ end }}

    <input type="radio" id="standard" name="domain_mode" value="standard" {{ if eq .DomainMode "standard"}}checked{{ end }}/> Standard - any official domains<br/>
  </div>
  <div class="form-group" id="ld_options">
    <label>Lockdown options:</label><br/>
    <input type="checkbox" id="ld_public_contacts" name="ld_public_contacts" value="true" {{ if .LDPublicContacts }}checked{{ end }}></input>
    &nbsp;Still allow all public domain names in contact email addresses when creating new ACME accounts
  </div>
  <div class="form-group" id="domain_mode_warning">
    <img src="static/img/warning.png"> Are you sure? This facilitates man-in-the-middle attacks!
  </div>
  <div class="form-group">
    <input class="btn btn-default" type="submit" value="Create">
  </div>
</form>
{{end}}
{{ template "partials/progress.tmpl" . }}
{{end}}
