{{ define "body" }}
</div>
<div class="col-md-6 col-sm-12">
    <h3>Restart</h3>
    <p>Almost there!<br/>Now we will request a certificate for this website and restart one more time...<br/>
    <img id="wrapup-spinner" src="static/img/spinner.gif" height="36"></p>
{{ template "partials/progress.tmpl" . }}
{{end}}
