Source: labca-gui
Section: utils
Priority: optional
Maintainer: hakwerk <github@hakwerk.com>
Homepage: https://github.com/hakwerk/labca
Vcs-Git: https://github.com/hakwerk/labca.git

Package: labca-gui
Architecture: any
Version: 0
Description: Standalone web GUI for ACME servers
