name: golangci-lint

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        GO_VERSION:
          - 1.25.2

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1
          working-directory: ./gui
